**/.ipynb_checkpoints/*
**/data/*
**/derby.log
**/metastore_db/*
**/\#*
**/.\#*
**/.DS_Store
house_linear_model/*
house_linear_model2/*
house_linear_model3/*
house_linear_model4/*
house_linear_model5/*
pipeline_model/*
pipeline_model2/*
